{% extends "base.html" %}

{% block content %}

 <div class="row mb-3">

{% if query %}   {# query = request.get.q #}

    <div class="'col-12">
      <h4> Results for <b>{{ query }}</b> </h4>
      <hr/>
    </div>

  {% else %}
   <div class="col-12 col-md-8 mx-auto py-5">
    {% include 'search/snippets/search-form.html' %}
   </div>

  {% endif %}

</div>

<div class="row">

 {% for obj in object_list %}
   <div class="col">
     {% include 'product/snippets/card.html' with instance=obj %}
   </div>
 {% endfor %}

</div>

{% endblock %}

